body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.formulario, .listado {
  flex: 1;
  margin: 10px;
}

.formulario {
  flex-basis: 40%; /* Ajustar el tamaño de la columna del formulario */
}

.listado {
  flex-basis: 60%; /* Ajustar el tamaño de la columna del listado */
}
